/* components/_inputs.scss */

.form {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4, 16px);

  &__label {
    font-weight: 600;
    color: var(--color-text, #111827);
  }

  &__input {
    width: 100%;
    border: 1px solid var(--color-border, #e5e7eb);
    border-radius: var(--radius, 8px);
    padding: var(--sp-4, 16px) var(--sp-4, 16px);
    background: #fff;
    outline: none;
    color: var(--color-text, #111827);
    
  }
   &__input--error {
      border-color: red;
    }
 
  &__error {
    font-size: 13px;
    color: red;
    margin-top: 4px;
    display: block;
    
  }

  &__checkbox {
    display: flex;
    gap: var(--sp-3, 12px);
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.4;

    input[type="checkbox"] {
      margin-top: 3px;
    }

    label {
      color: var(--color-text, #111827);
    }
  }
 
}

input[type="checkbox"] {
  margin-top: 3px;
  appearance: none;         // remove estilo nativo
  -webkit-appearance: none;
  background-color: #fff;   // fundo branco
  border: 1px solid var(--color-border, #e5e7eb);
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: grid;
  place-content: center;
  cursor: pointer;

  &:checked {
    background-color: var(--color-primary, #04A4C4);
    border-color: var(--color-primary, #04A4C4);
  }

  &:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 15%, 80% 0%, 43% 62%);
  }
}


